@mixin item {
  .l{
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 7px;
    .red-l{
      color: $color2;
      font-size: 60px;
      font-weight: bolder;
    }
    @include pad{
      font-size: 30px;
      font-weight: bold;
      .red-l{
        font-size: 50px;
        font-weight: bolder;
      }
    }
  }
  .s{
    font-size: 25px;
    @include pad{
      font-size: 18px;
    }
  }
  .m{
    font-size: 30px;
    font-weight: bolder;
    .percent{
      font-size: 35px;
      color: $color2;
    }
    @include pad{
      font-size: 23px;
      .percent{
        font-size: 30px;
      }
    }
  }
  .xs{
    font-size: 18px;
    color: rgb(146, 146, 146);
    @include pad{
      font-size: 15px;
    }
  }
  .red-s{
    font-size: 20px;
    letter-spacing: -1px;
    color: $color2;
    .red-dollar{
      background-color: darken($color2, 5%);
      padding: 0px 5px;
      border-radius: 30px;
    }
    @include pad{
      font-size: 17px;
      .red-dollar{
        padding: 0px 3px;
        font-size: 15px;
      }
    }
  }
  .ms{
    font-size: 17px;
    @include pad{
      font-size: 15px;
    }
  }
  .btn{
    border: 1px solid $color1;
    border-radius: 80px;
    width: 230px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $color1 ;
    padding: 25px 45px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.6s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background-color: $color1;
      z-index: -1;
      transition: width 0.6s ease-in-out;
      }
      &:hover{
        color: white;
        &:after{
          width: 110%;
        }
    }
    @include pad{
      font-size: 18px;
      width: 180px;
      padding: 20px 40px
    }
    @include phone{
      align-self: center
    }
  }
} 

@mixin keyframes ($animationName) {
@keyframes #{$animationName} {
  @content;
}
}