@import "breakpoint";
@import "reset";
@import "mixin";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);;

// color
$color1: rgb(214, 151, 16);
$color2: rgb(224, 3, 3);

*{
  font-family: 'cwTeXYen', sans-serif;
}

a{
  color: black;
  text-decoration: none;
}

#app{
  overflow: hidden;
}

#navbar{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: white;
  width: 100%;
  .logo{
  background-image: url('./assets/logo-nav.png');
  background-size: 55%;
  background-repeat: no-repeat;
  background-position-x: 150px;
  background-position-y: 10px;
  width: 343px;
  height: 80px;
  display: block;
  text-indent: -100%;
  overflow: hidden;
  white-space: nowrap;
  }
  .nav-text{
    ul{
      display: flex;
      margin-left: 40px;
      li{
        margin: 0px 35px 10px 35px;
        display: inline-block;
        width: 70px;
        font-size: 15px;
        align-items: center;
        text-align: center;
        // text-transform: uppercase;
        & ::after{
          content: '';
          display: block;
          padding-bottom: 7px;
          border-bottom: solid 2px $color1;
          transform: scaleX(0);
          transition: transform 300ms ease-in-out;
        }
        & :hover{
          color: $color1;
        }
        & :hover::after{
          transform: scaleX(1);
        }
        a{
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
  .nav-btn{
    display: flex;
    .btn{
      border-radius: 30px;
      box-shadow: 5px 10px 20px rgba(128, 128, 128, 0.507);
      padding: 15px 10px;
      margin: 0px 20px;
      font-size: 15px;
      cursor: pointer;
    }
    .btn-y{
      background-color: rgb(214, 151, 16);
      color: whitesmoke;
      font-weight: bold;
    }
    .btn-wb{
      border: 1px solid black;
      &:hover{
       background-color: black;
       color: whitesmoke; 
      }
    }
  }
}

#mainpage{
  padding-top: 80px;
  margin: auto;
  header{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .slogan{
      text-align: center;
      margin-top: 30px;
      img{
        width: 330px;
        margin-bottom: 10px;
      }
      span{
        display: block;
        font-size: 40px;
        letter-spacing: 10px;
        font-weight: bold;
      }
    }
    .middle{
      text-align: start;
      line-height: 80px;
      margin-top: 80px;
        .dollar-sign{
          font-size: 20px;
          background-color: darken($color1, 5%);
          padding: 5px 10px;
          border-radius: 50%;
          margin-right: 15px;
        }
        .middle-text{
          font-size: 25px;
          letter-spacing: 2px;
        }
    }
    .header-btn{
      width: 270px;
      color: white;
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: bold;
      padding: 30px 10px;
      background-color: $color1;
      box-shadow: 5px 10px 20px rgba(128, 128, 128, 0.507);
      border-radius: 70px;
      text-align: center;
      margin-top: -150px;
      z-index: 3;
    }
    .card-animation{
      .card_black{
        width: 370px;
        animation-name: cblack;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        z-index: 2;
        @include keyframes(cblack) {
          0% {
            transform: translate(185px, -80px);
          }
          50% {
            transform: translate(185px, -150px);
          }
          100% {
            transform: translate(-260px, -150px);
          }
        }
      }
      .card_white{
        width: 370px;
        animation-name: cwhite;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        @include keyframes(cwhite) {
          0% {
            transform: translate(-185px, -80px);
          }
          50% {
            transform: translate(-185px, -150px);
          }
          100% {
            transform: translate(260px, -150px);
          }
        }
      }
    }
  }
  main{
    .item1{
      display: flex;
      margin: 100px;
      img{
        max-height: 700px;
        // margin-left: 30px;
      }
      .item1-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 80px;
        .item1-btn{
          margin-top: 90px;
        }
        @include item;
        .l{
          margin-bottom: 10px;
          .red-l{
            margin: 0px 5px;
          }
        }
        .s{
          margin-bottom: 45px;
        }
        .m{
          .percent{
            margin-left: 10px;
          }
        }
        .xs{
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
    }
    .item2{
      display: flex;
      margin: 100px 50px 100px 150px;
      img{
        max-height: 700px;
        margin-left: 50px;
      }
      .item2-left{
        margin-top: 50px;
        margin-left: 30px;
        .item2-btn{
          margin-top: 70px;
        }
        @include item;
        .l{
          margin-bottom: 5px;
          font-size: 50px;
          .red-l{
            font-size: 70px;
            margin: 0px 5px;
          }
        }
        .xs{
          font-size: 15px;
          margin: 40px 0px 15px 0px;
        }
        .m{
          margin-bottom: 13px;
          .percent{
            font-size: 40px;
            margin: 0px 25px 0px 7px;
          }
        }
        .red-s{
          margin-bottom: 5px;
          .red-dollar{
            margin-right: 5px;
          }
        }
      }
    }
    .item3{
      display: flex;
      margin: 100px;
      img{
        max-height: 700px;
        // margin-left: 30px;
      }
      .item3-right{
        margin-top: 170px;
        margin-left: 30px;
        @include item;
        .l{
          margin-bottom: 7px;
          .red-l{
            margin: 0px 5px;
            font-size: 70px;
          }
        }
        .m{
          margin: 45px 0px 90px 0px;
        }
      }
    }
    .item4{
      display: flex;
      margin: 100px;
      .item4-left{
        margin-top: 150px;
        @include item;
        .l{
          .red-l{
            margin: 0px 5px;
            font-size: 70px;
          }
        }
        .s{
          font-size: 23px;
          margin-bottom: 45px;
        }
        .m{
          margin-bottom: 20px;
          .percent{
            margin: 0px 5px;
            font-size: 40px;
          }
        }
        .item4-btn{
          margin-top: 70px;
        }
      }
      img{
        max-height: 700px;
        padding-left: 50px;
      }
    }
    .item5{
      display: flex;
      margin: 100px;
      background-color: transparent;
      img{
        max-height: 700px;
      }
      .item5-right{
        margin-top: 160px;
        padding-left: 10px;
        @include item;
        .l{
          margin-bottom: 10px;
          .red-l{
            margin: 0px 5px;
          }
        }
        .s{
          font-size: 23px;
          margin-bottom: 45px;
        }
        .m{
          margin-bottom: 15px;
          .percent{
            margin: 0px 5px;
            font-size: 40px;
          }
        }
        .red-s{
          margin-bottom: 100px;
        }
      }
    }
  }
  footer{
    margin-top: 800px;
    position: relative;
    .footer-up{
      background-color: rgb(194, 164, 106);
      border-radius: 80%;
      width: 130%;
      position: absolute;
      bottom: 100px;
      right: -17%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      padding: 60px 0px 140px 0px;
      .footer-main-title{
        font-size: 30px;
        font-weight: bolder;
        padding: 30px;
        letter-spacing: 3px;
      }
      .footer-main{
        display: flex;
        padding-top: 20px;
        .footer-main-right{
          padding: 20px 0px 0px 40px;
          .p1{
            font-size: 25px;
            padding-bottom: 20px;
          }
          .p2{
            padding-bottom: 40px;
            span{
              color: darken($color1, 15%);
            }
          }
          .footer-main-right-down{
            display: flex;
            .download-content{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 20px;
              .p-title{
                font-size: 35px;
                letter-spacing: 1.5px;
              }
              .p-content{
                font-size: 15px;
                line-height: 20px;
              }
              .download-btn{
                .apple-btn{
                  margin-right: 10px;
                  cursor: pointer;
                }
                .google-btn{
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .footer-down{
      position: absolute;
      bottom: 0;
      color: whitesmoke;
      background-color: black;
      width: 100vw;
      height: 250px;
      padding-top: 50px;
      z-index: 5;
      .down-container{
        display: flex;
        justify-content: center;
        .down-left{
          font-size: 30px;
          margin: 20px 20px 0px -100px;
        }
        .down-right{
          padding-left: 30px; 
          .down-right-content{
            font-size: 14px;
            line-height: 25px;
          }
        }
      }
      .down-copyright{
        text-align: center;
        line-height: 25px;
        padding-top: 30px;
        .p1{
          .img1{
            width: 15px
          }
        }
        .p2{
          cursor: pointer;
        }
      }
    }
  }
}

#rightside{
  position:fixed;
  right: 80px;
  bottom: 330px;
  background-color: transparent;
  @include pad{
    right: 0;
    bottom: 0;
  }
  .rightside-up{
    margin: 0px 35px 25px 0px;
    background-color: rgb(214, 151, 16);
    color: white;
    cursor: pointer;
    &:hover{
      background-color: rgb(194, 137, 13);
    }
    span{
      text-align: center;
      position: absolute;
      top: 25px;
      left: 30px;
      line-height: 25px;
      @include pad{
        top: 20px;
        left: 25px;
        line-height: 25px;
      }
      @include mobile{
        top: 25px;
        left: 30px;
      }
    }
  }
  .rightside-down{
    margin: 0px 35px 30px 0px;
    background-color: rgb(224, 3, 3);
    color: white;
    cursor: pointer;
    &:hover{
      background-color: rgb(192, 0, 0);
    }
    span{
      text-align: center;
      position: absolute;
      top: 150px;
      left: 20px;
      line-height: 27px;
      @include pad{
        top: 130px;
        left: 15px;
        line-height: 27px;
      }
      @include mobile{
        top: 155px;
        left: 17px;
      }
    }
  }
  .circle{
    width:  100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    @include pad{
      width: 90px;
      height: 90px;
      font-size: 20px;
    }
    @include mobile{
      width: 100px;
      height: 100px;
      font-size: 23px;
    }
  }
}